/* styles.css */
.buttonContainer {
  border-right: 1px solid lightBlue;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 300px;
}

.menubutton{
  
   
    width: 300px;
}



/* Styles for small screens */
@media (max-width: 1024px) {
  .buttonContainer {
    width:30%;
    padding-top: 30%;
    

  }
  .button-text{
    scale:0;
    
  }


  
  .buttonContainer button {
    width: 100%;
    scale: 1.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    padding-top: 10;
    padding-bottom: 10;
  }

  .buttonContainer button span {
    margin-right: 8px; /* Adjust the spacing for smaller screens */
  }
}



@media (max-width: 431px) {
  .sidebar {
    display: none;
  }
  
}


/* 
@media (max-width: 400px) {
  .buttonContainer {
    width:25%;
    padding-top: 60px;
    

  }
  .button-text{
    scale:0;
    
  }


  
  .buttonContainer button {
    width: 70%;
    scale: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .buttonContainer button span {
    margin-right: 0px; /* Adjust the spacing for smaller screens */
  
 /* */ 
